{% extends 'index/base.html' %}


{% block content %}
<table class="table table-hover mt-3">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">产品名称</th>
            <th scope="col">重量</th>
            <th scope="col">描述</th>
        </tr>
    </thead>
    <tbody>
        {% for item in product_list %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.describe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'index/pagination.html' %}
{% endblock %}